*.o
*.a
*.pyc
#*#
*~
*.swp
.*
*.tmp
*.old
*.profile
*.bkp
*.bak
[Tt]humbs.db
*.DS_Store
build/
_build/
src/build/
*.log
target/
*.sqlite
*.sqlite-shm
*.sqlite-wal
scratch/

# Don't ignore this file itself
!.gitignore
